.nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .nav-logo {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .nav-links {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        margin-top: 30px;
        padding: 20px 15px;
        cursor: pointer;
      }
    }
  }
  